@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.section {
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 1140px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}
.bg-image {
  background-image: url(/assets/images/herosection.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  left: 0px;
  width: 100%;
  height: 100vh;
}

.logo {
  margin-bottom: 20px;
  text-align: center;
}

.logo-image {
  /* width: 80px; 
    height: auto;  */
}

h1 {
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-size: 1.5em;
  margin: 5px 0;
  font-weight: normal;
  color: #ffffff;
}

.tagline h3 {
  margin: 20px 0;
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  font-size: 75px;
  line-height: 130%;
  text-align: center;
  color: #ffffff;
}

.highlight {
  font-weight: bold;
  color: white;
}

.contact-button {
  padding: 10px 20px;
  border: 1px solid #ffffff;
  border-radius: 127px;
  position: absolute;
  top: 45%;
  left: 45%;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.contact-button:hover {
  background-color: #b75e3e;
}

.primary {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #a68272;
}
.submit {
  margin-top: -30%;
  width: 110px;
  height: 31px;
  border: 1px solid #ffffff;
  border-radius: 31px;
  font-size: 18px;
  background-color: #a68272;
  color: #ffffff;
}
.submit:hover {
  background-color: #b75e3e;
}
.main-title {
  width: 594px;
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  font-size: 64px;
  line-height: 130%;
  text-transform: capitalize;
  color: #ffffff;
}

.bold {
  font-weight: 700;
}

.description {
  margin: 20px 0;
  width: 577px;
  height: 120px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  opacity: 0.7;
}
.meet {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #e1e1e1;
}
.slider-container {
  width: 100%;
  overflow: hidden;
  padding: 10px;
}

.slider {
  display: flex;
  animation: scroll 10s linear infinite;
}

.slide {
  min-width: 20%;
  text-align: center;
  padding: 20px;
}

img {
  height: auto;
  bottom: 100px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.group-image {
  width: 100%;
  position: absolute;
}

h5 {
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  font-size: 64px;
  line-height: 130%;
  color: #5a5656;
}

h5 span {
  font-weight: 700;
}

.team-container {
  display: flex;
  gap: 10px;
  margin-top: 100px;
}

.team-card {
  position: relative;
  width: 380px;
  left: 10px;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.team-card img {
  width: 100%;
  border-radius: 4px solid #c4a77d;
}

.team-info {
  padding: 15px;
}

.team-info h4 {
  margin: 10px 0 5px;
  font-family: "Ubuntu";
}

.team-info p {
  font-family: "Ubuntu";
  opacity: 0.7;
}

.bio-button {
  position: absolute;
  top: 10px;
  font-family: "ubuntu";
  font-weight: 500;
  left: 10px;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  line-height: 100%;
  gap: 30px;
}

.bio-button:hover {
  background: rgba(0, 0, 0, 0.9);
}

.invest {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #e1e1e1;
}
.heading {
  margin-bottom: 50%;
  left: 30%;
  position: absolute;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  color: #5a5656;
}

.heading span {
  font-weight: 300;
}
.portfolio-container {
  /* max-width: 400px; */
  width: 600px;
  height: 650px;
  background: #dfbca6;
  padding: 20px;
  border: 3px solid #a68272;
  border-radius: 17px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: auto;
}
.featured {
  background: white;
  padding: 15px;
  border-radius: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 14px;
  margin-bottom: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.featured img {
  width: 73px;
  height: 73px;
  background: linear-gradient(180deg, #5e65d4 -9.38%, #5692e8 55.41%), #d9d9d9;
  box-shadow: 0px 4px 31.4px #5793e9;
  border-radius: 14px;
}

.featured h {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 24px;
}

.featured p {
  /* font-size: 0.8rem;
  color: gray;
  margin: 5px 0 0; */
  width: 419px;
  height: 96px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0c0f26;
  opacity: 0.7;
}
.investment-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.investment-list li {
  background: white;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.investment-list p {
  font-family: "Ubuntu";
  opacity: 0.8;
}

.investment-list li:hover {
  background: #d9b7a7;
  color: white;
}

.investment-list img {
  width: 44px;
  height: 48px;
}
.assets {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #e1e1e1;
}
.card {
  margin-left: 100px;
  background: #9b7c66;
  color: white;
  padding: 20px;
  border-radius: 16px;
  width: 80%;
  height: 600px;
  text-align: center;
}
.chart-container {
  /* display: flex;
  justify-content: center;
  align-items: center;
  position: relative; */
  width: 200px;
}

.chart-center {
  position: absolute;
  width: 60%;
  height: 60%;
  background: #9b7c66;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
}
.path-image {
  /* position: fixed; */
  position: absolute;
  left: 20px;
  top: 430%;
}

.path-image2 {
  position: absolute;
  margin-left: 75%;
  margin-top: -30%;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}
.title-1 {
  margin-left: 50%;
  margin-top: -40%;
  width: 540px;
  font-family: "Ubuntu";
  font-style: italic;
  font-weight: 300;
  font-size: 64px;
  line-height: 130%;
}
.title-1 span {
  font-weight: 700;
}
.description-1 p {
  margin-top: 30px;
  width: 512px;
  margin-left: 50%;
  font-family: "Ubuntu";
  line-height: 150%;
  text-transform: capitalize;
  opacity: 0.7;
}
.section-3 {
  margin-top: 10px;
  text-align: left;
  justify-content: center;
}
.section-title-4 {
  font-family: "Ubuntu";
  font-weight: 700;
  font-size: 20px;
  margin-top: -50px;
  line-height: 23px;
  opacity: 0.8;
  margin-left: 57%;
}
.rectangle {
  width: 6px;
  height: 92px;
  margin-left: 55%;
  background: #ffffff;
  border-radius: 115px;
}
.text {
  width: 491px;
  margin-top: 10px;
  font-family: "Ubuntu";
  line-height: 150%;
  opacity: 0.7;
  margin-left: 57%;
}
.great {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color: #e1e1e1;
}
/* .great-image{
width: 756.06px;
height: 361px;
}
.right-image{
width: 756.06px;
height: 361px;
} */
.headline {
  margin-top: -40%;
  margin-left: 300px;
  width: 735px;
  font-family: "Ubuntu";
  font-style: italic;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  /* text-transform: capitalize; */
  color: #5a5656;
}

.headline span {
  font-weight: 700;
}

.description-id {
  margin-left: -45%;
  margin-top: -20%;
  width: 650px;
  font-family: "Ubuntu";
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #333333;
  opacity: 0.7;
}
.container-4 {
  margin-left:-300px;
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 30px;
  background: #fff;
  border: 3px solid #A68272;
  border-radius: 17px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card-5{
  display: flex;
  align-items: center;
  background: #fff;
  padding: 15px;
  border-radius: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  border: 1px solid #000000;
}

.card-5:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.icon {
  border-radius: 17px;
  padding: 15px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon img{
  height:73px;
  width:73px;
}

.text-10 {
  display: flex;
  flex-direction: column;
}

.text-10 h3 {
  margin: 0;
font-family: 'Ubuntu';
font-weight: 700;
font-size: 24px;
line-height: 28px;
text-transform: capitalize;
}

.text-10 p {
width: 147px;
font-family: 'Ubuntu';
font-size: 16px;
color: #333333;
opacity: 0.7;
}
.footer{
  display: flex;
  align-items: center;
  min-height: 50vh;
  background-color: #333333;
}
@media (max-width: 600px) {
  .container {
      grid-template-columns: 1fr;
  }

  .card {
      flex-direction: row;
  }
}
@media (max-width: 600px) {
  .headline,
  .crypto {
    font-size: 1.5rem;
  }
  .description {
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5em;
  }
}
@media (max-width: 600px) {
  .title {
    font-size: 1.5em;
  }
}
@media (max-width: 600px) {
  .card {
    padding: 15px;
  }
  .title {
    font-size: 1.2em;
  }
}
@media (max-width: 500px) {
  .portfolio-container {
    max-width: 90%;
  }
}

@media (max-width: 768px) {
  .team-container {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 600px) {
  .main-title {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .description {
    font-size: 1rem;
  }
}
@media (max-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  h2 {
    font-size: 1.2em;
  }
  .tagline h3 {
    font-size: 1.5em;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1em;
  }
  .tagline h3 {
    font-size: 1.2em;
  }
}
